<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.quincy.FindEmploy</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>023DF5CA-6267-4284-AFF3-0BF1CC9CAA17</key>
		<array/>
		<key>0A7F94DA-8824-4BEA-892C-25D9882A4143</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4E08BAA-AE15-45F8-BBBB-C132E5CD855E</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CBA75F94-A099-4364-BA27-FEEF7DC76FE9</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95B647E1-400E-41AD-9D2C-DA940D0E19F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98627F9E-79FE-4EE6-942E-078F7E7CE4F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98627F9E-79FE-4EE6-942E-078F7E7CE4F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC88D0CC-F70C-4E75-9A82-F9AFE3B2C007</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A91E1E8F-CFD9-4081-9C28-3A1E215AD9E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>023DF5CA-6267-4284-AFF3-0BF1CC9CAA17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBA75F94-A099-4364-BA27-FEEF7DC76FE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A91E1E8F-CFD9-4081-9C28-3A1E215AD9E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>TangQuicny</string>
	<key>description</key>
	<string>Find phone number by Id</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Garmin Employ</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://biz.garmin.com.tw/introduction/index.asp?cboEmpID1={query}&amp;ORG_CODE=ALL&amp;WorkType=5&amp;Area=TW</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E4E08BAA-AE15-45F8-BBBB-C132E5CD855E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://prod.garmin.com.tw/PyrWeb2/attendance/qryindirectorytoday.asp</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A91E1E8F-CFD9-4081-9C28-3A1E215AD9E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CBA75F94-A099-4364-BA27-FEEF7DC76FE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	set desiredKeyboard to "美國"	tell application "System Events"		tell application process "SystemUIServer"			tell (first menu bar item of menu bar 1 whose value of attribute "AXDescription" is "text input")				set keyboardWas to its value				perform action "AXPress"				tell menu item desiredKeyboard of menu 1					perform action "AXPress"				end tell			end tell		end tell	end tell

	delay 2
	tell application "Firefox"
		tell application "System Events"
			keystroke "f" using command down 
			keystroke "v" using command down  	
		end tell
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>023DF5CA-6267-4284-AFF3-0BF1CC9CAA17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>employ</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Employ searching</string>
				<key>script</key>
				<string>python employ.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Showing the upcoming phone number</string>
				<key>title</key>
				<string>Find Garmin employ phone number by Id</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A7F94DA-8824-4BEA-892C-25D9882A4143</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>emaccount</string>
				<key>subtext</key>
				<string>Enter garmin password</string>
				<key>text</key>
				<string>Set your Garmin password</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>95B647E1-400E-41AD-9D2C-DA940D0E19F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python employ.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>98627F9E-79FE-4EE6-942E-078F7E7CE4F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your account was saved</string>
				<key>title</key>
				<string>Saved Garmin Employ Account</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CC88D0CC-F70C-4E75-9A82-F9AFE3B2C007</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>023DF5CA-6267-4284-AFF3-0BF1CC9CAA17</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>0A7F94DA-8824-4BEA-892C-25D9882A4143</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>95B647E1-400E-41AD-9D2C-DA940D0E19F1</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>98627F9E-79FE-4EE6-942E-078F7E7CE4F2</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>A91E1E8F-CFD9-4081-9C28-3A1E215AD9E4</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>CBA75F94-A099-4364-BA27-FEEF7DC76FE9</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>CC88D0CC-F70C-4E75-9A82-F9AFE3B2C007</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>E4E08BAA-AE15-45F8-BBBB-C132E5CD855E</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
